<div class="max-w-lg w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
    <div class="flex justify-between border-gray-200 border-b dark:border-gray-700 pb-3">
      <dl>
        <dt class="text-base font-normal text-gray-500 dark:text-gray-400 pb-1">Net</dt>
        <dd class="leading-none text-3xl font-bold" [ngClass]="net > 0 ? 'text-green-500' : 'text-red-500'">{{net}}</dd>
      </dl>
      <div>
        <!-- <span class="bg-green-100 text-green-800 text-xs font-medium inline-flex items-center px-2.5 py-1 rounded-md dark:bg-green-900 dark:text-green-300">
          <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13V1m0 0L1 5m4-4 4 4"/>
          </svg>
          Profit rate 23.5%
        </span> -->
      </div>
    </div>
  
    <div class="grid grid-cols-2 py-3">
      <dl>
        <dt class="text-base font-normal text-gray-500 dark:text-gray-400 pb-1">Income</dt>
        <dd class="leading-none text-xl font-bold text-green-500 dark:text-green-400">{{income}}</dd>
      </dl>
      <dl>
        <dt class="text-base font-normal text-gray-500 dark:text-gray-400 pb-1">Expense</dt>
        <dd class="leading-none text-xl font-bold text-red-600 dark:text-red-500">{{expense}}</dd>
      </dl>
    </div>
  
    <apx-chart 
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [title]="chartOptions.title"
    [tooltip]="chartOptions.tooltip"
    [fill]="chartOptions.fill"
    [dataLabels]="chartOptions.dataLabels"
    [stroke]="chartOptions.stroke"
    [grid]="chartOptions.grid"
    [yaxis]="chartOptions.yaxis"
    [plotOptions]="chartOptions.plotOptions"
    [legend]="chartOptions.legend"
    ></apx-chart>
      
  </div>