<div class="max-w-lg w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">

  <div class="flex justify-between items-start w-full">
    <div class="flex-col items-center">
      <div class="flex items-center mb-1">
        <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white me-1">{{duration}}</h5>


      </div>

    </div>
    <div class="flex justify-end items-center">


    </div>
  </div>
  
    <!-- Donut Chart -->
    <apx-chart class="py-6"
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [title]="chartOptions.title"
    [tooltip]="chartOptions.tooltip"
    [fill]="chartOptions.fill"
    [dataLabels]="chartOptions.dataLabels"
    [stroke]="chartOptions.stroke"
    [grid]="chartOptions.grid"
    [yaxis]="chartOptions.yaxis"
    [plotOptions]="chartOptions.plotOptions"
    [legend]="chartOptions.legend"
    [states]="chartOptions.states"
    [labels]="chartOptions.labels"
    ></apx-chart>
  </div>
